* {
    margin: 0;
    padding: 0;
}
body {
    margin-top: 20em;
    background-color: brown;
    text-align: center ;
    color: aliceblue;
}
a {
    text-decoration: none;
    color: white;
}



















































